{@com.github.zscauer.glsy.common.TemplateDataContainer<com.github.zscauer.glsy.knowledges.InformationNote> dataContainer}

    {#fragment id=information_note_upsert_modal}
    <div id="information-note-upsert-modal"
        class="min-h-svh fixed flex flex-col top-0 right-0 left-0 text-slate-300 items-center justify-center bg-slate-950/90">

        <!-- Modal content -->
        <div class="flex flex-col bg-slate-900 rounded-md shadow-xs w-full max-w-[550px] max-h-[500px] m-3">
            <!-- Modal header -->
            <div class="flex items-center p-4 border-b border-black text-slate-400 rounded-t bg-slate-800">
                <h3 class="text-xl font-semibold">
                    {#if dataContainer == null || dataContainer.isEmpty()}
                    {msg_knowledges:information_note_upsert_new_title()}
                    {#else}
                    {msg_knowledges:information_note_upsert_edit_title()}
                    {/if}
                </h3>
                <button id="close-modal-frame-button" type="button" class="closeModalButton">
                    <div class="inline-flex w-8 h-8 text-slate-300 justify-center items-center" hx-get="/blank"
                        hx-target="#information-note-upsert-modal" hx-swap="delete transition:true">
                        {#include fragments/common/icons/x-icon /}
                    </div>
                </button>
            </div>

            <!-- Modal body -->
            <div class="p-4 flex flex-col items-center gap-3 md:min-w-[450px]">

                {#include fragments/common/message-area /}

                {#if dataContainer != null}
                <div id="information-note-upsert-form" class="flex flex-col justify-stretch gap-3 w-full">
                    {#if !dataContainer.isEmpty()}
                    <div id="information-note-id-hidden-container" hidden>
                        <input id="information-note-id" name="information-note-id" value='{dataContainer.content().id()}'
                            class="appearance-none rounded-xs w-full border-slate-400 flex p-2 bg-slate-800 text-sm placeholder-slate-500 text-slate-300"
                            placeholder='{msg_knowledges:information_note_upsert_name_field_placeholder()}' />
                    </div>
                    {/if}
                    <div id="information-note-upsert-name-container"
                        class="flex flex-row items-center gap-3 justify-between w-full">
                        <label for="information-note-upsert-name" class="text-base font-medium text-slate-400">
                            {msg_knowledges:information_note_upsert_name_field_title()}
                        </label>
                        <div id="information-note-upsert-name-field" class="flex flex-row relative w-full">
                            <input id="information-note-upsert-name" name="information-note-name"
                            {#if !dataContainer.isEmpty()} value='{dataContainer.content().name()}' {/}
                                class="appearance-none rounded-xs w-full border-slate-400 flex p-2 bg-slate-800 text-sm placeholder-slate-500 text-slate-300"
                                placeholder='{msg_knowledges:information_note_upsert_name_field_placeholder()}' />
                        </div>
                    </div>
                    <div id="information-note-upsert-description-container"
                        class="flex flex-row items-center gap-3 justify-between w-full">
                        <label for="information-note-upsert-description" class="text-base font-medium text-slate-400">
                            {msg_knowledges:information_note_upsert_description_field_title()}
                        </label>
                        <div id="information-note-upsert-description-field" class="flex flex-row relative w-full">
                            <textarea id="information-note-description" name="information-note-description"
                                class="resize-y min-h-[100px] max-h-[250px] appearance-none rounded-xs w-full border-slate-400 flex p-2 bg-slate-800 text-sm placeholder-slate-500 text-slate-300"
                                autocomplete="off" minlength="10" rows="5" cols="25"
                                placeholder='{msg_knowledges:information_note_upsert_description_field_placeholder()}'
                                required="true">{#if dataContainer.content != null}{dataContainer.content.description}{/}</textarea>
                        </div>
                    </div>
                    <button id="save-information-note-button" type="button"
                        class="inline-flex justify-center gap-2 my-2 mx-auto greenButtonActive"
                        hx-put="/knowledges/informationNotes/upsert"
                        hx-include="[name='information-note-id'], [name='information-note-name'], [name='information-note-description']"
                        hx-target="#information-note-upsert-modal" hx-swap="outerHTML transition:true">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 0 1 9 9v.375M10.125 2.25A3.375 3.375 0 0 1 13.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 0 1 3.375 3.375M9 15l2.25 2.25L15 12" />
                        </svg>
                        <div>{msg_knowledges:information_note_upsert_save_button()}</div>
                    </button>
                </div>
                {/if}
            </div>
        </div>
    </div>
    {/fragment}