{@java.util.UUID informationNoteId}

{#fragment id=tags_add_to_information_note_search_panel}
<div id="tags-add-to-information-note-search-panel" class="flex flex-row w-full gap-2">
    <div id="tags-add-to-information-note-search-field" class="flex flex-row relative w-full gap-1">
        <span class="h-full absolute inset-y-0 left-0 flex items-center px-2 text-slate-500">
            {#include fragments/common/icons/hashtag-icon size='5' /}
        </span>
        <input id="tags-add-to-information-note-tag-name-input" name="inputed-value" type="search"
            list="tags-add-to-information-note-datalist" placeholder='{msg_knowledges:tags_add_placeholder()}'
            class="appearance-none rounded-xs border-slate-400 flex pl-8 pr-2 py-1 w-full bg-slate-800 text-sm placeholder-slate-500 text-slate-300" />
        <div hx-get="/knowledges/tags" hx-trigger="keyup changed delay:200ms from:input"
            hx-target="#tags-add-to-information-note-datalist" hx-swap="outerHTML transition:true"
            hx-include="[id='tags-add-to-information-note-tag-name-input']"
            hx-vals='{"destination": "{TemplateDestination:INFORMATION_NOTE}", "pageSize": "9"}'>
        </div>
        <div id="tags-add-to-information-note-selection-container" class="flex">
            <datalist id="tags-add-to-information-note-datalist"></datalist>
            <button id="tags-add-to-information-note-add-tag-button" type="button"
                class="justify-center purpleSearchButtonActive"
                hx-patch="/knowledges/informationNotes/{informationNoteId}/tags/add" hx-target="#information-note-view"
                hx-swap="outerHTML transition:true" hx-include="[id='tags-add-to-information-note-tag-name-input']">
                {#include fragments/common/icons/plus-circle-icon /}
            </button>
        </div>
    </div>
</div>
{/fragment}