{@com.github.zscauer.glsy.common.ErrorPageTemplateDataContainer dataContainer}

{#fragment id=error}
<div id="error-page-content-container"
    class="flex flex-col justify-between bg-slate-950 text-center text-purple-800 gap-6 max-w-md max-h-[600px] m-auto min-w-md min-h-[200px] bg-gray-200 p-5 rounded-md">
    <div class="font-bold text-8xl">{dataContainer.errorCode()}</div>
    {#insert fragments/common/message-area /}
    <div class="flex justify-center">{#include fragments/common/icons/broken-page-icon /}</div>
    <a id="home-page-button" href="/" class="purpleButtonActive uppercase my-3">
        {msg_global:go_to_main_page()}
    </a>
</div>
{/fragment}